$f-size1: 48px;
$f-size2: 24px;
$f-size3: 20px;
$f-size4: 17px;
$f-size5: 13px;

$fc-dark1: rgb(43, 41, 38);
$fc-dark2: rgb(73, 72, 65);
$fc-dark3: rgb(89, 92, 82);

$default-font-family: "Volkhov";
$secondary-font-family: "Lucida Console";
$comic-font-family: "Comic sans MS";
